<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- necessary for importing Google fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<!-- import Google fonts: Montserrat, Suez One -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Suez+One&display=swap" rel="stylesheet">
		<!-- import local stylesheet /public/stylesheets/style.css (will automatically look in /public directory) -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<!-- import title will render dynamically on every page based on data passed to the view -->
		<title><%=title%></title>
	</head>
	<body>
		<header>
			<h1 id='app-title-text'>Job Hound: Track those Apps!</h1>
			<nav>
				<% if (user) { %>
					<div id='nav-div'>
						<a href='/applications'>View Apps</a>
						<a href='/follows'> View Follow-Ups</a>
					</div>
					<div id='logout-div'><a href="/auth/logout">Log Out</a></div>
				<% } else { %>
					<a href="/auth/google">Login with Google</a>
				<% } %>
			</nav>
		</header>

<!-- partial view /partials/footer.ejs has closing tags </body> and </html> -->