<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%=title%></title>
  </head>
  <header>
  <body>
    <h2>Welcome to Job Hound!</h2>
    <nav>
          <% if (user) { %>
            <div id='nav-div'><a href='/applications'>View Apps</a>
            <a href='/follows'> View Follow-Ups</a></div>
            <div id='logout-div'><a href="/auth/logout">Log Out</a></div>
          <% } else { %>
            <a href="/auth/google">Login with Google</a>
          <% } %>
  </nav>
</header>