<%- include('partials/header') %>

<main>
  <div><h1>hello, <%= user ? user.name : "friend" %></h1></div>
  <a href='/applications'>Click here to see your application list.</a><br>
  <a href='/follows'>Click here to see your scheduled follow-ups.</a>
</main>

<%- include('partials/footer') %>