<%- include('partials/header') %>

<main>
  <div><h1>hello, <%= user ? user.name : "friend" %></h1></div>
  <div></div><a href='/applications'>Click here to see your application list.</a></div>
</main>


<%- include('partials/footer') %>
