html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: #66666E;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

/* Pseudo-classes for hyperlink colors */
a:link    {color: #a3a3a3;}    /* custom color for un-clicked links */
a:visited {color: #a3a3a3;}    /* custom color for clicked links */
a:hover   {color: #e6e6e6;}    /* custom color for links when hovered over */
a:active  {color: #e6e6e6;}    /* custom color for links being actively clicked */

.link-on-light-background:link    {color: #101010;}    /* custom color for un-clicked links */
.link-on-light-background:visited {color: #101010;}    /* custom color for clicked links */
.link-on-light-background:hover   {color: #707070;}    /* custom color for links when hovered over */
.link-on-light-background:active  {color: #707070;}    /* custom color for links being actively clicked */

header {
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

#app-title-text {
  margin: 10px 8px 0px 8px;
  font-family: 'Suez One', serif;
  font-size: 24px;
  color: #C0C0C0;
}

nav {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#nav-div {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

main a {
  font-size:larger;
}

fieldset {
  padding: 10px;
  border: 3px solid darkgray;
}

#job-apps-wrapper {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index-job-listing {
  font-size: 14px;
  margin: 10px;
  padding: 15px;
  width: 280px;
  max-width: 90vw;
  border-radius: 6px;
  background-color: #E0E0E0;
}

.heading-apps {
  font-size: 16px;
}

/* START: CSS FOR NEW APP CREATION FORM */
#new-app-form {                           /* form to create a new app record */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-app-form > input[type='submit'] {    /* SUBMIT button on create new app form */
  width: 220px;
  height: 60px;
  border: 3px solid black;
  border-radius: 12px;
  font-family: 'Suez One', serif;
  font-size: 24px;
}

#new-app-form > input[type='submit']:hover {  /* differential CSS on mouse hover */
  background-color: #adb5bd;
}

.new-app-question-div {  /* div containing groups of labels and relevant inputs */
  margin: 10px;
  /* border: 3px solid red; */
  width: 600px;
}

.new-app-top-label {  /* top-level label for each input or set of inputs */
  font-size: 16px;
}

.new-app-typed-input {  /* input boxes for any typed/string text data */
  margin: 5px 0;
  padding-left: 5px;
  width: 100%;
  height: 48px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #dee2e6;
  font-size: 32px;
}
/* END: CSS FOR NEW APP CREATION FORM */

#new-app-button-form {   /* form containing "Log a New App" button */
  margin-bottom: 20px;
}

#new-app-button {
  min-height: 50px;
  min-width: 220px;
  font-size: 22px;
  border: 2px solid;
  border-radius: 15px;
}

#new-app-button:hover {
  background-color: #909090;
}

.edit-delete-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  margin: 15px 0;
  min-width: 300px;
}

.edit-delete-button {
  min-height: 50px;
  min-width: 220px;
  width: fit-content;
  font-size: 22px;
  border: 2px solid;
  border-radius: 15px;
  margin-top: 15px;
}

h1 {
  font-size: 3.6rem;
}

.larger-link {
  font-size: 20px;
}

footer {
  padding-top: 5px;
  height: 60px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  background-color: #202020;
  color: #C0C0C0;
}

/* breakpoint to resize footer for smaller screens */
@media only screen and (max-width: 500px) {
  footer {
    height: 55px;
    font-size: 14px;
  }

  .footer-link {
    font-size: 12px;
  }
}