html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: #66666E;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

/* Pseudo-classes for hyperlink colors */
a:link    {color: #a3a3a3;}    /* custom color for un-clicked links */
a:visited {color: #a3a3a3;}    /* custom color for clicked links */
a:hover   {color: #e6e6e6;}    /* custom color for links when hovered over */
a:active  {color: #e6e6e6;}    /* custom color for links being actively clicked */

.link-on-light-background:link    {color: #101010;}    /* custom color for un-clicked links */
.link-on-light-background:visited {color: #101010;}    /* custom color for clicked links */
.link-on-light-background:hover   {color: #707070;}    /* custom color for links when hovered over */
.link-on-light-background:active  {color: #707070;}    /* custom color for links being actively clicked */

header {
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

#app-title-text {
  margin: 10px 8px 0px 8px;
  font-size: 24px;
  color: #C0C0C0;
}

nav {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#nav-div {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

main a {
  font-size:larger;
}

fieldset {
  padding: 10px;
  border: 3px solid darkgray;
}

#job-apps-wrapper {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#app-details-heading {
  font-size: 25px;
}

.index-job-listing {
  font-size: 14px;
  margin: 10px;
  padding: 15px;
  width: 300px;
  max-width: 90vw;
  border-radius: 6px;
  background-color: #E0E0E0;
}

.heading {
  font-size: 16px;
}

#new-app-button-form {
  margin-bottom: 20px;
}

#new-app-button {
  min-height: 50px;
  min-width: 220px;
  font-size: 22px;
  border: 2px solid;
  border-radius: 15px;
}

#new-app-button:hover {
  background-color: #909090;
}

.edit-delete-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  margin: 15px 0;
  min-width: 300px;
}

.edit-delete-button {
  min-height: 50px;
  min-width: 220px;
  width: fit-content;
  font-size: 22px;
  border: 2px solid;
  border-radius: 15px;
  margin-top: 15px;
}

h1 {
  font-size: 3.6rem;
}

.larger-link {
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  height: 60px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  background-color: #202020;
  color: #C0C0C0;
}

/* breakpoint to resize footer for smaller screens */
@media only screen and (max-width: 500px) {
  footer {
    height: 55px;
    font-size: 14px;
  }

  .footer-link {
    font-size: 12px;
  }
}