main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

h2 {
    font-size: 25px;
}

h3 {
    margin: 0;
}

#job-information {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.job-listing {
    margin: 10px;
    padding: 15px;
    border-radius: 6px;
    width: 300px;
    font-size: 14px;
    background-color: #E0E0E0;
}

#follow-ups {
    width: 600px;
    align-self: stretch;
    padding: 12px;
    background-color: #E0E0E0;
}

.follow-up {
    margin: 8px;
    padding: 12px;
    background-color: green;
}

.follow-up h3 {
    font-size: x-large;
}