<%- include('../partials/header') %>

<main>
    <h1>This is the applications index page.</h1>
    <a href='/applications/new'>Click to log a new application.</a>
</main>

<%- include('../partials/footer') %>