<%- include('../partials/header-top') %>
<%- include('../partials/header-bottom') %>

<h1>This is the create new Follow-up-Item form page.</h1>

<%# all data fields on submit will be attached to req.body %>

<%# value attached tothe 'name' attribute will be matched to a key in a schema %>  

<form id='new-follow-form' action='/follows' method='POST'>
    <fieldset>
        <legend>Add a New Follow-Up</legend>
    <label>Follow Up: <input type='text' name='follow_title' required autofocus></label><br><br>
    <label>Complete on: <input type='date' name='follow_scheduled_date' required></label><br><br>
    <label>Priority: 
        <select name='follow_priority' id='follow-form-priority-list' required>
            <option value='Low'>Low</option>
            <option value='Medium'>Medium</option>
            <option value='High'>High</option>
        </select>
    </label><br><br>
    <label>Details: <textarea name='follow_detail' id='follow-detail-textarea' cols='30' rows='10'></textarea></label><br><br>
    <input type='hidden' name='follow_assoc_appl' value=<%=jobApplicationId%>>
    <input type='submit' value='Add New Follow-Up'>
</fieldset>
</form>

<%-include('../partials/footer')%>