<%- include('../partials/header')  %> 

<h1>This is the create new application form page.</h1>

<%# all data fields on submit will be attached to req.body %>

<%# value attached tothe 'name' attribute will be matched to a key in a schema %>  

<form id='new-app-form' action='/applications' method='POST'>
    <label>Company:<input type='text' name='company' autofocus></label><br>
    <label>Job Title:<input type='text' name='jobTitle'></label><br>
    <label>Job ID:<input type='text' name='jobId'></label><br>
    <input type='submit' value='Add New Application'>
</form>

<%- include('../partials/footer')  %> 